albumentations
Cython
chumpy @ git+https://github.com/mattloper/chumpy.git
compress-pickle
decord
einops
face-alignment
facenet-pytorch
gdown
gradio
h5py
hickle
hydra-core
imgaug
kornia
lightning
matplotlib
mediapipe
munch
numpy
omegaconf
onnxscript
opencv-contrib-python
opencv-python
opencv-python-headless
psbody-mesh @ git+https://github.com/MPI-IS/mesh.git@v0.4
python-speech-features
pytorch-lightning
scikit-image
scikit-learn
scikit-video
transformers
trimesh
wandb
soundfile
yacs

loguru
insightface